h1.page-title {
    font-size: xx-large;
    padding: 1rem 4rem;
    text-align: center;
}

.operator-title {
    font-size: x-large;
    font-weight: 500;
    text-align: center;
    padding: 1rem 3rem;
}

.mozaiques img {
    width: 10vw;
    margin: 0 auto;
}